<div class='container'>
  <div class='row'>
    <div class='small-8 small-offset-2 columns'>
      <h2>Emorsu</h2>
    </div>
  </div>

  <div class='row'>
    <div class='small-8 small-centered columns'>
      <div class='panel'>
        {{partial 'tokens/new'}}

        <table width="100%">
          <tbody>
            {{#each controller}}
            <tr>
              <td>
                <div class="row">
                  <div class="small-12 columns">
                    {{token.content}}
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns text-right">
                    {{token.result}}
                  </div>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
